@model EasyTimes.Models.Charger

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Charger</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Start_)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Start_)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.End_)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.End_)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hours_)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hours_)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OnTheRanch)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OnTheRanch)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
