
@model dynamic
@{
    ViewData["Title"] = "ViewDetails";
}

<h2>@*@Html.DisplayFor(modelItem => Model.ProjectName) - @Html.DisplayFor(modelItem => Model.SerialCode)*@ </h2>


<p class="text-primary">@Model.Comments</p>
<hr />
<div>
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#">
                How much to earn <span class="badge">
                    R$ @Model.TotalEarned
                </span>
            </a>
        </li>
        <li><a href="#">Time worked <span class="badge">@Model.AmountOfHours h</span></a></li>
        <li><a href="#">Overtime worked <span class="badge">@Model.Overtime h</span></a></li>
        <li><a href="#">Total run <span class="badge">@Model.OnTheRach km</span></a></li>
        <li><a href="#">Meal ticket <span class="badge"> R$ @Model.MealTicketValue</span></a></li>
    </ul>
    <hr />

</div>

<table>
    <tr>
        <th>Date</th>
        <th>Start</th>
        <th>End</th>
    </tr>
    @foreach (LittleTask littleTask in Model._list)
    {
    <tr>
        <td>@littleTask.Date</td>
        <td>@littleTask.Start</td>
        <td>@littleTask.End</td>
    </tr>
    }
</table>


<hr />
<div>
    <a asp-action="GoBackToDetails">Back to List</a>
</div>