@model IEnumerable<EasyTimes.Models.ServiceOrder>

@{
    ViewData["Title"] = "Index";
}

<h2>List of Service Orders</h2>


@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                <p></p>
            </th>
            <th>
               Project Name
            </th>
            <th>
                Serial Code
            </th>
            <th>
               Client
            </th>

            <th>
                Amount of Hours
            </th>
            <th>
                Total Earned
            </th>
            <th>
                Payment Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="ViewDetails" asp-route-id="@item.id" class="btn btn-info btn-xs">View task details!</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProjectName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AmountOfHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalEarned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatus)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary btn-sm">Edit info</a> |
                
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
