@model IEnumerable<EasyTimes.Models.LittleTask>

@{
    ViewData["Title"] = "Index";
}

<h2>Worked hours</h2>

<hr />
<td>
    <a asp-action="GoBackToDetails" class="btn btn-default">Go back to details</a>
</td>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>
                Total
            </th>

            <th>
                km
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BetweenBoth)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.kM)
                </td>

                <td>
                    <a asp-action="EditLittleTask" asp-route-id="@item.id" class="btn btn-primary btn-sm">Edit</a> |

                    <a asp-action="DeleteLittleTask" asp-route-id="@item.id" class="btn btn-danger btn-sm">Delete</a>

                </td>

            </tr>
        }
    </tbody>
</table>


