@model EasyTimes.Models.ServiceOrder
@{
    ViewData["Title"] = "ViewDetails";
}

<h2>@Html.DisplayFor(modelItem => Model.ProjectName) - @Html.DisplayFor(modelItem => Model.SerialCode) </h2>
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Add Workload</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                @*<ul class="nav navbar-nav">
            <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
            <li><a href="#">Link</a></li>

        </ul>*@

                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" name="date" value="@TempData["date"]" />
                        </div>

                        <div class="form-group">
                            <label for="start">Start</label>
                            <input type="time" class="form-control" name="start" value="@TempData["start"]" />
                        </div>

                        <div class="form-group">
                            <label for="end">End</label>
                            <input type="time" class="form-control" name="end" value="@TempData["end"]" />
                        </div>

                        <div class="form-group">
                            <label class="control-label" for="kM">On the ranch (km)</label>
                            <input type="text" class="form-control" name="kM">
                        </div>
                    </div>
                    <button type="submit" asp-action="AddWorkload" asp-route-id="@Model.id" class="btn btn-default">Submit</button>
                </form>
               
            </div>
        </div>

    </nav>

</div>

<p class="text-primary">@Model.Comments</p>
<hr />
<div>
    <ul class="nav nav-pills">
        <li class="active">
            <a href="#">
                How much to earn <span class="badge">
                    R$ @Model.TotalEarned
                </span>
            </a>
        </li>
        <li><a href="#">Time worked <span class="badge">@Model.AmountOfHours h</span></a></li>
        <li><a href="#">Overtime worked <span class="badge">@Model.Overtime h</span></a></li>
        <li><a href="#">Total run <span class="badge">@Model.OnTheRach km</span></a></li>
        <li><a href="#">Meal ticket <span class="badge"> R$ @Model.MealTicketValue</span></a></li>
    </ul>
    <hr />
    <a asp-action="ShowListOfDays" asp-route-id="@Model.id" class="btn btn-info">See all!</a> 
    <a asp-action="ExportFileToPrint" asp-route-id="@Model.id" class="btn btn-info">Export file to print!</a>
</div>
<hr />
<div>
    <a asp-action="Index" class="btn btn-default">Back to List</a>
</div>