@model EasyTimes.Models.Owner

@{
    ViewData["Title"] = "Index";
}




<div class="row">
    <div class="profile_table">
        <div class="list-group profileInfo">
                
                <i class="tooltip material-icons" title="Personal and banking account data">accessibility</i>
                    
                    
                    <a class="table_background list-group-item active">
                        <strong>Name   |   </strong><c>@Html.DisplayFor(modelItem => Model.Name)</c>
                    </a>
                    
                    
                    <a class="table_background list-group-item active">
                        <strong>Email   |   </strong><c>@Html.DisplayFor(modelItem => Model.Email)</c>
                    </a>

                    <a class="table_background list-group-item active">
                        <strong>Phone   |   </strong><c>@Html.DisplayFor(modelItem => Model.Phone)</c>
                    </a>

                    <a class="table_background list-group-item active">
                        <strong>Bank   |   </strong><c>@Html.DisplayFor(modelItem => Model.Bank)</c>
                    </a>

                    <a class="table_background list-group-item active">
                        <strong>Agency   |   </strong><c>@Html.DisplayFor(modelItem => Model.Agency)</c>
                    </a>

                    <a class="table_background list-group-item active">
                        <strong>Current account   |   </strong><c>@Html.DisplayFor(modelItem => Model.CurrentAccount)</c>
                    </a>
                
        </div>
        <div class="list-group profileInfo">

            <i class="tooltip material-icons" title="Prices and costs">attach_money</i>

            <a class="table_background list-group-item active">
                <strong>Price per hour   |   </strong><c>R$ @Html.DisplayFor(modelItem => Model.PricePerHour)</c>
            </a>
            <a class="table_background list-group-item active">
                <strong>Gas price   |   </strong><c>R$ @Html.DisplayFor(modelItem => Model.GasPrice)</c>
            </a>
            <a class="table_background list-group-item active">
                <strong>Overtime profit rate   |   </strong><c>@Html.DisplayFor(modelItem => Model.OvertimeProfitRate)%</c>
            </a>
            <a class="table_background list-group-item active">
                <strong>Normal Time   |   </strong><c>@Html.DisplayFor(modelItem => Model.NormalTime) h</c>
            </a>
            <a class="table_background list-group-item active">
                <strong>Time to receive Meal Ticket   |   </strong><c>@Html.DisplayFor(modelItem => Model.TimeToMealTicket) h</c>
            </a>
            <a class="table_background list-group-item active">
                <strong>Meal Ticket   |  </strong><c>R$ @Html.DisplayFor(modelItem => Model.MealTicket)</c>
            </a>
        </div>
        @*<div class="col-md-offset-11">
            <a asp-action="Edit" class="btn btn-primary btn-sm">Edit</a>
        </div>*@
    </div>
</div>
