@model EasyTimes.Models.Owner

@{
    ViewData["Title"] = "Index";
}




<div class="row">
    <div class="profile_table">
        <div class="list-group profileInfo">
                
                <i class="tooltip material-icons" title="Personal and banking account data">accessibility</i>
                
                <a class="list-group-item">
                    <strong>Name   |   </strong>@Html.DisplayFor(modelItem => Model.Name)
                </a>

                <a class="list-group-item">
                    <strong>Email   |   </strong>@Html.DisplayFor(modelItem => Model.Email)
                </a>

                <a class="list-group-item">
                    <strong>Phone   |   </strong>@Html.DisplayFor(modelItem => Model.Phone)
                </a>

                <a class="list-group-item">
                    <strong>Bank   |   </strong>@Html.DisplayFor(modelItem => Model.Bank)
                </a>

                <a class="list-group-item">
                    <strong>Agency   |   </strong>@Html.DisplayFor(modelItem => Model.Agency)
                </a>

                <a class="list-group-item">
                    <strong>Current account   |   </strong>@Html.DisplayFor(modelItem => Model.CurrentAccount)
                </a>

        </div>
        <div class="list-group profileInfo">

            <i class="tooltip material-icons" title="Prices and costs">attach_money</i>

            <a class="list-group-item">
                <strong>Price per hour   |   </strong>R$ @Html.DisplayFor(modelItem => Model.PricePerHour)
            </a>
            <a class="list-group-item">
                <strong>Gas price   |   </strong>R$ @Html.DisplayFor(modelItem => Model.GasPrice)
            </a>
            <a class="list-group-item">
                <strong>Overtime profit rate   |   </strong>@Html.DisplayFor(modelItem => Model.OvertimeProfitRate)%
            </a>
            <a class="list-group-item">
                <strong>Normal Time   |   </strong>@Html.DisplayFor(modelItem => Model.NormalTime) h
            </a>
            <a class="list-group-item">
                <strong>Time to receive Meal Ticket   |   </strong>@Html.DisplayFor(modelItem => Model.TimeToMealTicket) h
            </a>
            <a class="list-group-item">
                <strong>Meal Ticket   |  </strong>R$ @Html.DisplayFor(modelItem => Model.MealTicket)
            </a>
        </div>
        @*<div class="col-md-offset-11">
            <a asp-action="Edit" class="btn btn-primary btn-sm">Edit</a>
        </div>*@
    </div>
</div>
